#title{
  font-family: "Roboto Mono", sans-serif;
  font-size: 35px;
  text-align: center;
}


.recpies {
  background-color: #ededed;
  font-family: "Roboto Mono", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
